<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <a href="/"><div class="mdl-logo">ggge</div>
  </div>
    <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="/{{de site.imprint.de.slug site.imprint.en.slug}}">{{de site.imprint.de.name site.imprint.en.name}}</a></li>
      <li><a href="{{de site.en.url site.de.url}}">{{{de En De}}}</a></li>
    </ul>
    <a href="https://twitter.com/bnggge"><button class="mdl-mini-footer__social-btn social-btn social-btn-twitter">Twitter</button></a>
  </div>
</footer>
