<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <a href="/"><div class="mdl-logo">ggge</div>
  </div>
    <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="/{{de site.imprint.de.slug site.imprint.en.slug}}">{{de site.imprint.de.name site.imprint.en.name}}</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="https://twitter.com/bnggge">Twitter</a></li>
      <li><a href="https://github.com/bnggge">Github</a></li>
      <li><a href="https://linkedin.com/in/bnggge">LinkedIn</a></li>
      <li><a href="https://www.xing.com/profile/Ben_Goegge">Xing</a></li>
      <li><a href="{{de page.en.url page.de.url}}">{{de 'En' 'De'}}</a></li>
    </ul>
    </div>
</footer>
