<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<span class="mdl-layout-title">ggge</span>
		<div class="mdl-layout-spacer"></div>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="/">Home</a>
			<a class="mdl-navigation__link" href="/blog/">Blog</a>
			<a class="mdl-navigation__link" href="{{de page.en.url page.de.url}}">{{de 'English' 'German'}}</a>
		</nav>
	</div>
	{{> @partial-block }}
</header>
