<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<a href="/"><span class="mdl-layout-title">ggge</span></a>
		<div class="mdl-layout-spacer"></div>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="{{de page.en.url page.de.url}}">{{de 'English' 'German'}}</a>
		</nav>
	</div>
</header>
