{{#>nav}}

{{/nav}}
<h1></h1>
<p></p>
<div class="signup">
        <form action="/signup" method="post" autocomplete="on">
            <h2 >Signup</h2>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                
            <label class="mdl-textfield__label" for="email">E-mail</label>
            <input type="email" id="email" name="email" class="mdl-textfield__input" placeholder="john@doe.com" required autofocus>
            <strong><abbr title="required">*</abbr></strong>
            </div>
            <label class="mdl-textfield__label" for="password" >Password</label>
            <input type="password" name="password" id="password" class="mdl-textfield__input" placeholder="*********" required>
            <strong><abbr title="required">*</abbr></strong>
            
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="newsletter">
                <input type="checkbox" id="newsletter" class="mdl-switch__input">
                <span class="mdl-switch__label">{{de 'Für Newsletter anmelden' 'Signup for newsletter'}}</span>
            </label>
            
            <label class="mdl-textfield__label" for="username">Username</label>
            <input type="text" id="username" name="username" class="mdl-textfield__input" placeholder="jdoe">

            <label class="mdl-textfield__label" for="name" >Firstname</label>
            <input type="text" id="firstname" name="firstname" class="mdl-textfield__input" placeholder="John Doe">

            <label class="mdl-textfield__label" for="photo" >Photo (URL)</label>
            <input type="url" id="photo" name="photo" class="mdl-textfield__input" placeholder="http://www.example.com/photo.jpg" >
            <label class="mdl-textfield__label" for="phone">Phone</label>
            <input type="tel" id="phone" name="phone" class="mdl-textfield__input" placeholder="+49 30 123456"  >
            

            
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Signup</button>
          </form>

          <div class="row">
            <div class="center-block text-center">
                <a href="/auth/facebook">Signup with Facebook</a> | 
                <a href="/auth/twitter">Signup with Twitter</a> | 
                <a href="/auth/google">Signup with Google</a>
            </div>
        </div>
    </div>
{{>footer}}